# ignore all except java source code in subdirs
*
# whitelist all subdirs except /test
!*/
*/*/test
!*.java
*/week1-000.Sandbox/src/Application.java
/2013-OOProgrammingWithJava-PART1/week4-079.NumberStatistics/build/
/2013-OOProgrammingWithJava-PART1/week4-080.Dice/build/
/2013-OOProgrammingWithJava-PART1/week4-081.PasswordRandomizer/build/
/2013-OOProgrammingWithJava-PART1/week4-082.Lottery/build/
/2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/build/
/2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-087.ApartmentComparison/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-085.Reformatory/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-086.LyyraCardAndRegister/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-089.ClockObject/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-092.DifferenceDate/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-084.OverloadedCounter/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-093.PersonExtended/nbproject/private/
/2013-OOProgrammingWithJava-PART1/week5-088.Students/nbproject/private/
2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/src/HangmanFigure.java
2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/src/HirsipuuKeyAdapter.java
2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/src/HangmanUserInterface.java
/2013-OOProgrammingWithJava-PART1/week5-084.OverloadedCounter/build/
/2013-OOProgrammingWithJava-PART1/week5-085.Reformatory/build/
/2013-OOProgrammingWithJava-PART1/week5-086.LyyraCardAndRegister/build/
/2013-OOProgrammingWithJava-PART1/week5-087.ApartmentComparison/build/
/2013-OOProgrammingWithJava-PART1/week5-088.Students/build/
/2013-OOProgrammingWithJava-PART1/week5-089.ClockObject/build/
/2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/build/
/2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/build/
/2013-OOProgrammingWithJava-PART1/week5-092.DifferenceDate/build/